dump.tar.gz
dump_newest_only.txt
engine
foot.txt
fullwidth.sed
glyphs.txt
head.txt
makeglyph.js
parts.txt
cidalias.sed
cidalias.txt
cidalias1.txt
cidalias2.txt
groups/cidalias.txt
cidpua.map
cidpua-*.map
otf-features
*.log
*.scr
*.sfd
*.otf
makettf.pl
build
mincho1
mincho3
mincho5
mincho7
mincho9
mincho5m
mincho7m
mincho9m
LGC/Makefile
