/HZMincho.db
dump.tar.gz
dump_newest_only.txt
dump_all_versions.txt
engine
foot.txt
fullwidth.sed
glyphs.txt
head.txt
makeglyph.js
parts.txt
parts-*.txt
parts.dat
parts-*.dat
cidalias.sed
cidalias.txt
cidalias1.txt
cidalias2.txt
groups/*.txt
groups/_*
cidpua.map
cidpua-*.map
lgc.map
lgc-*.map
otf-features
otf-features-*
*.log
*.scr
*.sfd
*.otf
makettf.pl
build
mincho1
mincho3
mincho5
mincho7
mincho9
mincho5m
mincho7m
mincho9m
LGC/Makefile
FS-LGC/Makefile
Goth-LGC/Makefile
Lat-LGC/Makefile
HZMincho.zip
HZMincho.tar.*
HZMincho-*.zip
HZMincho-*.tar.*
HZMincho/
intersect*.pe
*.pyc
ChangeLog
socho1
socho3
socho5
socho7
gothic1
gothic3
gothic5
gothic7
latin1
latin3
latin5
latin7
HZSocho.zip
HZSocho.tar.*
HZSocho-*.zip
HZSocho-*.tar.*
HZSocho/
HZGothic.zip
HZGothic.tar.*
HZGothic-*.zip
HZGothic-*.tar.*
HZGothic/
HZLatin.zip
HZLatin.tar.*
HZLatin-*.zip
HZLatin-*.tar.*
HZLatin/
README-*.md
!/engine
