/HZMincho.db
dump.tar.gz
dump_newest_only.txt
dump_all_versions.txt
engine
foot.txt
fullwidth.sed
glyphs.txt
head.txt
makeglyph.js
parts.txt
cidalias.sed
cidalias.txt
cidalias1.txt
cidalias2.txt
groups/*.txt
groups/_*
cidpua.map
cidpua-*.map
lgc.map
lgc-*.map
otf-features
*.log
*.scr
*.sfd
*.otf
makettf.pl
build
mincho1
mincho3
mincho5
mincho7
mincho9
mincho5m
mincho7m
mincho9m
LGC/Makefile
HZMincho.zip
intersect*.pe
*.pyc
ChangeLog
